<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hzone | 须知</title>
</head>
<body>
    <h3>个人信息保护指引</h3>

    <h4>第 3.1 版本</h4>

    更新日期：2021 年 1 月 11 日

    <br>

    生效日期：2021 年 1 月 20 日

    <p>
        我们依据相关法律法规和技术规范收集和使用您的个人信息，以帮助我们向您提供更优质的产品和/或服务。请您在使用hzone前，仔细阅读并充分理解本指引。重点内容我们已采用粗体标示，希望您特别关注。

        请您注意，只有在您确认同意后，我们才会开始收集、使用、处理和存储您的个人信息。如在特定场景下，您以「不注册/不登录帐号」的方式使用hzone的，我们将尽最大努力减少信息收集并向您提供浏览功能，但这将导致您无法完整使用hzone的其他各项功能或服务。如果您不同意hzone收集您的任何个人信息，请您立即停止使用并退出hzone。

        如对本指引有任何疑问，您可以通过本指引中「如何联系我们」一节提供的联系方式与我们联系。我们会不时对指引进行修订。当本指引发生实质变更时，我们会在版本更新后以推送通知、弹窗等形式向您展示变更后的内容。

        本指引适用于提供hzone产品和服务（包括移动端、网站、小程序等）的湖畔有限公司（以下称「我们」或「hzone」）。
    </p>
</body>
</html>