{% extends 'base.html' %}

{% block title %}
    hzone | 交易
{% endblock %}

{% block main %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="input-group">
            <!-- 输入框组 -->
                <input id='search-input' type="text" class="form-control" placeholder="Search for Items ...">
                <span class="input-group-btn">
                    <button id='search-button' class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
            <br>
            <a href="/deal">
                <button type="button" class="btn btn-info">
                    所有商品 <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                </button>
            </a>
            {% if sort == 'price' %}
                <a href="/deal?sort=-price">
                    <button id='price' type="button" class="btn btn-primary active">
                        价格升序 <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    </button>
                </a>
            {% elif sort == '-price' %}
                <a href="/deal">
                    <button id='price' type="button" class="btn btn-primary active">
                        价格降序 <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    </button>
                </a>
            {% else %}
                <a href="/deal/?sort=price">
                    <button id='price' type="button" class="btn btn-info">
                        价格排序 <span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>
                    </button>
                </a>
            {% endif %}
            <!-- 形成闭环 -->
            {% if sort == 'time' %}
                <a href="/deal?sort=-time">
                    <button type="button" class="btn btn-primary active">
                        时间升序 <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    </button>
                </a>
            {% elif sort == '-time' %}
                <a href="/deal">
                    <button type="button" class="btn btn-primary active">
                        时间降序 <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    </button>
                </a>
            {% else %}
                <a href="/deal?sort=time">
                    <button type="button" class="btn btn-info">
                        时间排序 <span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>
                    </button>
                </a>
            {% endif %}

            {% if chop != '1' %}
                <a href="/deal?chop=1">
                    <button id='chop' type="button" class="btn btn-info">
                        只看可刀 <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    </button>
                </a>
            {% else %}
                <a href="/deal">
                    <button id='chop' type="button" class="btn btn-primary active">
                        只看可刀 <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                    </button>
                </a>
            {% endif %}            
        </div>
    </div>



    {% for item in items %}
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="media">
                <!-- 媒体对象 -->
                    <div class="media-left media-middle">
                    <!-- 靠左 垂直居中 -->
                        <img src="http://www.5h.com/m5h/s/hanbao/uploadfile/f9383a8b689d4b3bc3852ef9ddfc1f59.jpg"
                            style="height:200px" class="media-object img-thumbnail" >
                            <!-- 图片添加圆角 -->
                    </div>
                    <div class="media-body">
                        <h4>{{ item.name }}</h4>
                        <hr>    
                        <em>
                        <!-- 斜体字 -->
                            <font style="color:grey" size="2">
                            <!-- 其他字体属性 -->
                                {{ item.info }}
                            </font> 
                        </em>
                        <hr>
                        ￥ <font size="4" face="Verdana">{{ item.price }}</font> 
                        <hr>
                        <span class="label label-default"> x {{ item.count }}</span>
                        {% if item.chop %}
                            <span class="label label-success">可刀</span>
                        {% else %}
                            <span class="label label-danger">不刀</span>
                        {% endif %}
                        <span class="label label-warning">{{ item.time | date:"Y-m-d" }}</span>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
            <!-- 面板的底部 -->
                <a target = "_blank" href="/user/{{item.owner.id}}">
                    <button type="button" class="btn btn-info btn-xs">主页</button>
                </a>
                <button id="replyButton-{{ forloop.counter }}" type="button" class="btn btn-info btn-xs">
                <!-- 下拉按钮 -->
                评论  ↓</button>
            </div>
            <div id="replyArea-{{ forloop.counter }}" class="hidden">
            <!-- 下拉评论区：默认隐藏 -->
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="向卖家咨询详细信息">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">发表</button>
                    </span>
                </div>
                <table class="table">
                <!-- 评论表格 -->
                    <tr>
                    <!-- 表头 -->
                        <th width="10%">用户</th>
                        <th width="75%">内容</th>
                        <th width="15%">时间</th>
                    </tr>
                    {% for comment in item.comments %}
                    <!-- 填表 -->
                        <tr>
                            <td>
                                <a href="/user/{{comment.user.id}}">{{ comment.user }}</a>
                            </td>
                            <td>{{ comment.text }}</td>
                            <td>{{ comment.time | date:"Y-m-d"}}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td></td>
                            <td>暂无评论</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% empty %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>暂无内容</h3>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block js %}
    <script>
        $('#search-button').click(function(){
            var input = $('#search-input').val()
            // 获取关键词
            location.href = '?search=' + input
        })
    </script>

    <script>
        var len = {{ items.count }}
        // 获取列表长度
        for(var i=1;i<=len;i++){
        // 循环绑定事件
            (function (i) {
                var area = $('#replyArea-' + i)
                var button = $('#replyButton-' + i)
                // 拼接元素
                button.click(function(){
                    if (area.attr("class")){
                        area.removeAttr('class')
                        // 移除属性
                        button.text('评论 ↑')
                        // 修改样式
                    }
                    else{
                        area.attr("class","hidden")
                        // 增加属性
                        button.text('评论  ↓')
                    }
                })
            })(i)
        }
    </script>
{% endblock %}