{% extends 'base.html' %}
{% load static %}
{% block title %}
    hzone | 交易
{% endblock %}

{% block main %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="input-group">
            <!-- 输入框组 -->
                <input id='search-input' type="text" class="form-control" placeholder="搜索物品名...">
                <span class="input-group-btn">
                    <button id='search-button' class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
            <br>
            <a href="/deal">
                <button type="button" class="btn btn-info">
                    所有商品 <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </button>
            </a>
            {% if sort == 'price' %}
                <a href="/deal?sort=-price">
                    <button id='price' type="button" class="btn btn-primary active">
                        价格升序 <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    </button>
                </a>
            {% elif sort == '-price' %}
                <a href="/deal">
                    <button id='price' type="button" class="btn btn-primary active">
                        价格降序 <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    </button>
                </a>
            {% else %}
                <a href="/deal/?sort=price">
                    <button id='price' type="button" class="btn btn-info">
                        价格排序 <span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>
                    </button>
                </a>
            {% endif %}
            <!-- 形成闭环 -->
            {% if sort == 'time' %}
                <a href="/deal?sort=-time">
                    <button type="button" class="btn btn-primary active">
                        时间升序 <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    </button>
                </a>
            {% elif sort == '-time' %}
                <a href="/deal">
                    <button type="button" class="btn btn-primary active">
                        时间降序 <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    </button>
                </a>
            {% else %}
                <a href="/deal?sort=time">
                    <button type="button" class="btn btn-info">
                        时间排序 <span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>
                    </button>
                </a>
            {% endif %}

            {% if chop != '1' %}
                <a href="/deal?chop=1">
                    <button id='chop' type="button" class="btn btn-info">
                        只看可刀 <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                    </button>
                </a>
            {% else %}
                <a href="/deal">
                    <button id='chop' type="button" class="btn btn-primary active">
                        只看可刀 <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                    </button>
                </a>
            {% endif %}
        </div>
    </div>

	<style type="text/css">
        * {
            margin:0;
            padding:0;
        }
        html,body{
            height:100%;
        }
		.htmleaf-content img{
			height: 200px;
		}
		.htmleaf-content img.lightense-open{
            height:300px;
            display: inline-block;
		}
	</style>
    {% for item in items %}
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="media" id = 'item-{{ item.id }}'>
                <!-- 媒体对象 -->
                    <div class="media-left media-middle">
                    <!-- 靠左 垂直居中 -->
                    {% if item.image %}
                        <div class="htmleaf-content">
                            <div class="media-object img-thumbnail">
                            <!-- 圆角边框 -->
                                <img class="zoom" src="/{{ item.image }}">
                            </div>
                        </div>
                    {% else %}
                        <img src="{% static 'image/items/default.png' %}" style="height:200px" class="media-object img-thumbnail" >
                        <!-- 显示默认图片 -->
                    {% endif %}
                    </div>
                    <div class="media-body">
                        <h4>{{ item.name }}</h4>
                        <hr>    
                        <em>
                        <!-- 斜体字 -->
                            <font style="color:grey" size="2">
                            <!-- 其他字体属性 -->
                                {{ item.info }}
                            </font> 
                        </em>
                        <hr>
                        ￥ <font size="4" face="Verdana">{{ item.price }}</font> 
                        <hr>
                        <span class="label label-default"> x {{ item.count }}</span>
                        {% if item.chop %}
                            <span class="label label-success">可刀</span>
                        {% else %}
                            <span class="label label-danger">不刀</span>
                        {% endif %}
                        <span class="label label-warning">{{ item.time | date:"Y-m-d" }}</span>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
            <!-- 面板的底部 -->
                <div align="left" style="float:left">
                <!-- 同一行靠左 -->
                    {% if item.owner == user %}
                        <button type="button" class="btn btn-success btn-xs">我的商品</button>
                    {% else %}
                        <a target = "_blank" href="/user/{{item.owner.id}}">
                            <button type="button" class="btn btn-default btn-xs">进入主页 🏠</button>
                        </a>
                    {% endif %}
                    <button id="replyButton-{{ forloop.counter }}" type="button" class="btn btn-default btn-xs">
                    <!-- 下拉按钮 -->发布评论（{{ item.comments.count }}） ▼</button>
                </div>
    
                <div align="right">
                <!-- 同一行靠右 -->
                    <a href="/collect/{{ item.pk }}">
                        {% if item.is_collected %}
                            <button id="demark-{{ forloop.counter }}" type="button"
                                class="btn btn-danger btn-xs">已标记</button>
                        {% else %}
                            <button id="mark-{{ forloop.counter }}" type="button" 
                                class="btn btn-default btn-xs">标记 🚩</button>
                        {% endif %}
                    </a>
                </div>
            </div>
            <div id="replyArea-{{ forloop.counter }}" class="hidden">
            <!-- 下拉评论区：默认隐藏 -->
                <form id="replyForm-{{ forloop.counter }}" action="/deal/{{ item.id }}" method='post'>
                <!-- 评论表单 -->
                {% csrf_token %}
                    <div class="input-group">
                        <input id="replyInput-{{ forloop.counter }}"  name="text"  maxlength="30"
                        type="text" class="form-control" placeholder="咨询详细信息（不超过30字）">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-info" type="button">发表</button>
                        </span>
                    </div>
                </form>
                <table id="replyTable-{{ forloop.counter }}" class="table">
                <!-- 评论表格 -->
                    <tr>
                    <!-- 表头 -->
                        <th width="20%">用户</th>
                        <th width="60%">内容</th>
                        <th width="20%">时间</th>
                    </tr>
                    {% for comment in item.comments %}
                    <!-- 填表 -->
                        <tr>
                            {% if comment.user == item.owner %}
                                <td>
                                    <a href="/user/{{comment.user.id}}">
                                        <strong><em>（卖家）</em></strong>
                                        {{ comment.user }}
                                    </a>
                                </td>
                            {% else %}
                                <td>
                                    <a href="/user/{{comment.user.id}}">{{ comment.user }}</a>
                                </td>
                            {% endif %}
                            <td>{{ comment.text }}</td>
                            <td>{{ comment.time | date:"Y-m-d"}}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td></td>
                            <td>暂无评论</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% empty %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>暂无内容</h3>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block side %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">所有标记</h3>
        </div>
        <ul class="list-group">
        <!-- 收藏列表 -->
            {% for item in items %}
                {% if item.is_collected %}
                    <li class="list-group-item">
                        <a href="#item-{{ item.id }}">
                        <!-- 本页跳转 -->
                            <span class="label label-info">{{ item.name }}</span>
                        </a>
                        ￥<strong><em> {{ item.price }}</em></strong>
                    </li>
                {% endif %}
            {% empty %}
                <li class="list-group-item">暂无标记内容</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block js %}
	<script type="text/javascript" src="{% static 'js/lightense.js' %}">
    // 载入插件
    // 不写代码 **
    </script>
	<script type="text/javascript">
    // 插件初始化
		window.addEventListener('load', function () {
		  var el = document.querySelectorAll('img.zoom:not(.no-lightense),.lightense');
		  Lightense(el);
		  }, false);
	</script>
    <script>
        $('#search-button').click(function(){
            var input = $('#search-input').val()
            // 获取关键词
            location.href = '?search=' + input
        })
    </script>

    <script>
        var len = {{ items.count }}
        // 获取列表长度
        for(var i=1;i<=len;i++){
        // 循环绑定事件
            (function (i) {
                var area = $('#replyArea-' + i)
                var form = $('#replyForm-' + i)
                var input = $('#replyInput-' + i)
                var button = $('#replyButton-' + i)
                // 拼接获取元素
                button.click(function(){
                // 点击下拉按钮
                    if (area.attr("class")){
                        area.removeAttr('class')
                        // 移除属性
                        button.val('发布评论（{{ item.comments.count }}） ▲')
                        // 修改样式
                    }
                    else{
                        area.attr("class","hidden")
                        // 增加属性
                        button.val('发布评论（{{ item.comments.count }}） ▼')
                    }
                })
                form.submit(function(){
                    $.ajax({
                        url:form.attr("action"),
                        type:form.attr("method"),
                        data:$(this).serialize(),
                        cache:false,
                        success:function(){
                            $("#replyTable-" + i).load(location.href + " #replyTable-" + i)
                            // 局部刷新表格
                            input.val('')
                        },
                    })
                    return false
                })
            })(i)
        }
    </script>

    <script>
    // 标记/取消标记
        var len = {{ items.count }}
        for(var i=1;i<=len;i++){
            (function (i) {
                $('#demark-' + i).click(function(){
                    if (confirm('是否取消标记') == false){
                        return false
                    }
                })
                $('#mark-' + i).click(function(){
                    if (confirm('是否标记') == false){
                        return false
                    }
                })
            })(i)
        }
    </script>
{% endblock %}