{% extends 'base.html' %}
<!-- 模板继承 -->
    {% block title %}
        hzone | 首页
    {% endblock %}

    {% block main %}
        <div class="panel panel-info">
        <!-- 面板 -->
            <div class="panel-heading">校内通知</div>
            <!-- 标题 -->
            <table class="table">
            <!-- 表格 -->
                <tr>
                    <th style="width:70%" class="text-center">标题</th>
                    <th style="width:30%" class="text-center">时间</th>
                    <!-- 设置宽度 -->
                </tr>
                {% for link,text,date in infos %}
                    <tr>
                        <th style="width:70%">
                            <a href="{{ link }}">{{ text }}</a>
                        </th>
                        <th style="width:30%" class="text-center">{{ date }}</th>
                        <!-- 设置宽度 -->
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">实用工具</h3>
            </div>
            <div class="panel-body">
                课表查询
                <br>
                绩点计算器
                <br>
                绩点计算器
                <br>
                绩点计算器
            </div>
        </div>
    {% endblock %}

    {% block side %}
        <div class="panel panel-info">
        <!-- 带标题的面板 -->
            <div class="panel-heading">
                <h3 class="panel-title">简讯</h3>
            </div>
            <div class="panel-body">
                hello World
            </div>
        </div>
    {% endblock %}

    {% block js %}

    {% endblock %}