{% extends 'base.html' %}
<!-- 模板继承 -->
    {% block title %}
        hzone | 首页
    {% endblock %}

    {% block main %}
        <div class="panel panel-info">
        <!-- 面板 -->
            <div class="panel-heading">校园通知</div>
            <!-- 标题 -->
            <table class="table">
            <!-- 表格 -->
                <tr>
                    <th style="width:70%" class="text-center">标题</th>
                    <th style="width:30%" class="text-center">时间</th>
                    <!-- 设置宽度 -->
                </tr>
                {% for link,text,date in infos %}
                    <tr>
                        <th style="width:70%">
                            <a href="{{ link }}">{{ text }}</a>
                        </th>
                        <th style="width:30%" class="text-center">{{ date }}</th>
                        <!-- 设置宽度 -->
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endblock %}

    {% block side %}

    {% endblock %}

    {% block js %}
    {% endblock %}