{% extends 'bootstrap3.html' %}
{% load static %}
    {% block body %}
        <form id="item_form"  enctype="multipart/form-data" action="/release/item" method ='post'>
        <!-- 允许上传图片 -->
        {% csrf_token %}
            {% if itemImage %}
                <img id='current_image' src="/{{ itemImage }}" height="150px">
                <!-- 显示原有图片 -->
                <hr>
                <input onchange="reads(this)" type="file" name="image" accept="image/*" id="id_image" value="{{ itemImage }}">
                <!-- 提前填入默认值 ，并且绑定实时渲染函数 -->
            {% else %}
                <img id='current_image' src="{% static 'image/items/default.png' %}" height="150px">
                <hr>
                <input onchange="reads(this)" type="file" name="image" accept="image/*" id="id_image">
            {% endif %}
            <br><br>
            <input type="text" name="name" placeholder="输入商品名称" value="{{ itemName }}"
            style='width:100%;height:50px' required id="id_name">
            <br><br>
            <textarea name="info" style='width:100%;height:200px' 
            placeholder="输入商品简介" required id="id_info">{{ itemInfo }}</textarea>
            <br><br>
            <label>可刀 </label>
            <input type="checkbox" name="chop" id="id_chop">
            <br><br>

            <label>已售 </label>
            <input type="checkbox" name="sold" id="id_sold">
            <br><br>

            <input placeholder="输入商品数量"  value="{{ itemCount }}"
                type="number" name="count" required id="id_count">
            <br><br>

            <input placeholder="输入商品价格" value="{{ itemPrice }}"
                type="number" name="price" step="any" required id="id_price">
            <br><br>
            <button type="submit">确认提交</button>
        </form>
    {% endblock %}

    {% block js %}
        <script>
            var form = $('#item_form')
            // var data = form.serialize()
            // 直接序列化（无法上传二进制文件）
            var data = new FormData(document.getElementById('item_form'))
            form.submit(function(){
                var result = confirm("您是否打算现在发布")
                if (result == true){
                    $.ajax({
                        url:form.attr('href'),
                        type:form.attr('method'),
                        data:data,
                        cache:false,
                        success:function(context){
                            $('#id_name').val('')
                            $('#id_info').val('')
                            $('#id_count').val('')
                            $('#id_price').val('')
                            $('#id_image').val('')
                            $("#id_sold").attr("checked",false)
                            $("#id_chop").attr("checked",false)
                            // 回到初始状态
                            var status = context['status']
                            if (status == "SUCCESS"){
                                var result = confirm("发布成功，是否前去查看")
                                if (result == true){ 
                                    top.location.href = "/deal";
                                }
                            }
                            else {
                                alert('发布失败')
                            }
                        },
                    })
                    return false
                }
            })
        </script>
        <script>
            function reads(obj) {
            // 实时渲染上传图片
                var file = obj.files[0];
                var reader = new  FileReader();
                reader.readAsDataURL(file);
                reader.onload = function (ev) {
                    $('#current_image').attr("src", ev.target.result);
                    // 标签属性选择器
                }
            }
       </script>
    {% endblock %}